body{
    background-color: aqua;
}
.facepng{
    filter: grayscale(100%);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 52%;
    transform: translate(-57%, -61%);
    width: 400px;
}

.hairpng{
    filter: grayscale(100%);
    position: absolute;
    z-index: -2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 10%;
    width: 800px;
}


.hairpng:hover{
    filter: grayscale(0%);
}

.facepng:hover{
    filter: grayscale(0%);
}